/* @font-face {
    font-family:'Bahij SultanNahia';
    src: url('./fonts/bahij-sultannahia.ttf');
}

@font-face {
    font-family: 'ChronicaPro-Regular';
    src: url('./fonts/ChronicaPro-Regular.ttf');
}

@font-face {
    font-family: 'Fonts';
    src: url('./fonts/ChronicaPro-Regular.ttf');
} */